html, body, head{
    background-color: rgb(245, 245, 245);
    height: 100vh;
    width: 100vw;
    margin : 0;
    padding : 0;
}
h2{
    margin: 0;
}
.home-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.home-page>img{
    width: 80vw;
    margin: 0;
    padding: 0;
}
.boutton{
    width: 70%;
    font-size: inherit;
    margin : 1rem 0rem 1rem 0rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 3px 3px;
    
    border: none;
    text-align: center;
    
    color : white !important;
    text-decoration: none !important;
    background-color: rgb(168, 0, 0);
    overflow: hidden;
    
    z-index: 1;
    transition: 0.5s ;
    transition-timing-function: linear;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer!important;
}
.boutton-reverse{
    width: 70%;
    font-size: inherit;
    margin : 1rem 0rem 1rem 0rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 3px 3px;
    
    border: none;
    text-align: center;
    border: red 1.5px solid;
    
    color : red;
    text-decoration: none !important;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    
    z-index: 1;
    transition: 0.5s ;
    transition-timing-function: linear;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer!important;

}
.presentation{
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(245, 245, 245, 0)50%, rgba(245, 245, 245, 0.86)95%, rgb(245, 245, 245)), url("../image/appareilPhoto.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #000000;
}
.presentation>h2{
    text-align: center;
    width: 100%;
}
.presentation>p{
    text-align: center;
    width: 50%;
    padding: 5%;
}
.indicators{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.indicators>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 10%;
}
.indicators>div>svg{
    margin: 0;
    padding: 0;
    width: 30%;
}
.indicators>div>h4{
    margin: 0;
    padding: 0;
}
.indicators>div>p{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.portfolio{
    background-color: black;
    color: white;
}
.portfolio>div>h2{
    margin-top:0;
}
.portfolio>div>p{
    margin: 10%;
    text-align: justify;
}
.portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-photo{
    height: 30vh;
    overflow: hidden;
    background-color: transparent;
}
.portfolio-photo>img{
    height: 100vh;
    position: fixed;
    top: 0%;
    left: -40%;
    z-index: -1;
}
.serviceProcess{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serviceProcess>h2{
    width: 100%;
    text-align: center;
    padding-top: 10%;
}
.process{
    border: #000000 solid 1px;
    margin : 10%;
    padding : 5%;

    overflow: hidden;
}
.process>div>svg{
    fill: rgb(168, 0, 0);
    height : 25px;
}
.process>div{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    /* padding: 5% 0 0 5%; */
}
.process>div>h2{
    padding-left: 5%;
}
.services{
    background-color: rgb(245, 245, 245);
    padding: 10%;
}
.services>h2{
    width: 100%;
    text-align: center;
}
.services>div>h2{
    width: 100%;
    text-align: center;
}
.services>div{
    padding: 10%;
    margin-top: 10%;
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.services>div>img{
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    margin: 0 20% 0 20%;
}
.services>div>p{
    text-align: left;
    width: 100%;
}
.devis{
    background-color: rgb(245, 245, 245);
    padding: 10%;
}
.devis>div>div>svg{
    padding-right: 7%;
}
.devis>div>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.devis>a{
    margin: auto;
    margin-top: 10%;
}

.orga>div>div{
    background-color: bisque;
    width: 40vw;
    height: 40vw;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orga>div>div>img{
    margin-top: 5%;
    border-radius: 50%;
    width: 50%;
}
.orga>div>div>h4{
    padding: 0;
    margin: 0;
}
.orga>div>div>p{
    padding: 0;
    margin: 0;
}
.orga>div{
  float: left;
}
.orga>h2{
    color: rgb(245, 245, 245);
    text-align: center;
    padding-top: 5%;
}
.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login>form{
   width: 80vw;
}
.login>form>input{
    width: calc(100% - 8px);  /* 2px margin 4px border 2px userstylesheet */
   
    height: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
}
.login>form>.boutton{
    width: 100%;
}
.login>form>.boutton-reverse{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
}